.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: $primary; 
    padding: 1rem 3rem; 
    height: 11rem;
    

    &__logo {
       
        img {
            width: 200px;    
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 1rem;
    
        a {
            font-family: $font-primary;
            color: $white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            margin: 10px;
            position: relative; 
            
            
            &:not(.btn-signup) {
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 50%;
                    background-color: $white;
                    transition: all 0.3s ease;
                }
                
                &:hover {
                    text-decoration: none;
                    
                    &::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
    
            &.btn-signup {
                border: 2px solid $background;
                padding: 0.5rem 1.5rem;
                border-radius: 4px;
                color: $background;
                transition: all 0.3s ease;
    
                &:hover {
                    background-color: $accent;
                    color: $white;
                }
            }
        }
    }
    .btn-logout {
        background: none;
        border: none;
        color: $black;
        cursor: pointer;
        font-family: $font-primary;
        font-size: 20px;
        padding: 0;
        margin: 0 0 0 2rem;

        &:hover {
            color: $accent-hover;
        }
    }

    .logout-form {
        display: inline;
    }
}


// Version mobile
@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        &__logo {
            margin-bottom: 1rem;

            img {
                width: 150px;
            }
        }

        &__links {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            a {
                font-size: 14px;
                margin: 0;
                text-align: center;

                &.btn-signup {
                    padding: 0.5rem 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}